<div ng-controller="MusicfeedsCtrl">
  
<div id="musicfeed-list-container" >
    <ul>
      <li ng-repeat="musicfeed in musicfeeds"
          ng-click="showMusicfeed(musicfeed, $index)">
        <h3 ng-class="{active: $index == selectedRow}">
          {{musicfeed.trackName}}
          <small>({{musicfeed.trackTimeMillis}})</small></h3>
      </li>
    </ul>
  </div>

  <div id="musicfeed-view-container" ng-show="selectedMusicfeed">
    <h2>{{selectedMusicfeed.trackName}}</h2>
    <p>{{selectedMusicfeed.collectionName}}</p>
    <%#*<p>{{selectedMusicfeed.radioStationUrl:}}</p>%>
    <%#*<div flow-player="" id="player"></div>%>
    <p>
      Released at {{selectedMusicfeed.releaseDate | date: 'mediumDate'}}
      - <a ng-href="{{selectedMusicfeed.radioStationUrl}}">{{selectedMusicfeed.radioStationUrl}}</a>
    </p>

  </div>
  
  
 
</div>